@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid">
    <div class="jumbotron justify-content-md-center">
        <label>Please enter the minimum and maximum number!</label>
        <div class="row">
            <div class="col">
                <input placeholder="Minimum value" />
            </div>
            <div class="col">
                <input placeholder="Maximum value" />
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-dark" onclick="BeginSeach()">Search</button>
            </div>
            </div>
        <br />
        <div class="list-group">
            <div class="list-group-item">test1</div>
            <div class="list-group-item">test2</div>
        </div>
    </div>
</div>