@page
@model PPCompulsory.Model.Prime
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid">
    <form asp-action="GetPrimesSequential" asp-controller="Prime">
        <div class="jumbotron justify-content-md-center">
            <label>Please enter the minimum and maximum number!</label>
            <br />
            <div class="row">
                <div class="col">
                    <label asp-for="MinimumValue"></label>
                    @Html.EditorFor(p => p.MinimumValue)
                </div>
                <div class="col">
                    <label asp-for="MaximumValue"></label>
                    @Html.EditorFor(p => p.MaximumValue)
                </div>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-dark">Search</button>
                </div>
                @*<div class="col-sm-6">
                    <button type="submit" class="btn btn-dark" asp-controller="Prime" asp-action="Search">ParallelSearch</button>
                </div>*@
            </div>
            <br />
            <div class="list-group">
                <div class="list-group-item">test1</div>
                <div class="list-group-item">test2</div>
            </div>
        </div>
    </form>
</div>