<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Primes</title>
</head>
<body>
    <form action="parallel">

        <label>Lower</label>
        <input type="number" />
        <label>High</label>
        <input type="number" />
    </form>
</body>
</html>